<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.shr.Mapper.SysDictMapper">
    <select id="select" resultType="demo.shr.pojo.sysdict">
        select code,item1 from sys_dict where dic_name =#{dicname} and flag = '1';
    </select>
    <select id="selectajlb" resultType="demo.shr.pojo.sysdict">
        select code,item1 from sys_dict where dic_name ='文化程度' and flag = '1';
    </select>
</mapper>